.overlaycontainer {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
}

.overlaycontainer header .container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 15vh;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  z-index: 80;
}

.overlaycontainer header .container .logo {
  margin-left: 5vw;
  display: flex;
}

.overlaycontainer header .container .logo img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.overlaycontainer header .container .logo .logoname {
  margin-left: 2rem;
  font-size: 3rem;
  font-weight: 400;
}

.overlaycontainer header .container .logo .logoname span {
  color: yellow;
}

.overlaycontainer .menu {
  position: fixed;
  z-index: 500;
  right: 3vw;
  top: 4vh;
  display: flex;
  height: 15px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: all .5s linear;
}

.overlaycontainer .menu div {
  width: 30px;
  height: 3px;
  background: white;
}

.overlaycontainer .close {
  transform: rotate(45deg) translateY(10px);
  transition: all .5s linear;
  cursor: pointer;
}

.overlaycontainer .close div {
  position: absolute;
  top: 30%;
  right: 0;
  transition: all .5s linear;
}

.overlaycontainer .close .top {
  transform: rotate(90deg);
  transition: all .5s linear;
}

.overlaycontainer .close .hide {
  display: none;
  transition: all .5s linear;
}

.overlaycontainer .navsection {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 100;
}

.overlaycontainer .navsection .container {
  height: 100%;
  width: 100%;
  display: flex;
}

.overlaycontainer .navsection .container section {
  width: 50%;
  height: 100%;
}

.overlaycontainer .navsection .container .sect1 {
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate3d(0, 100%, 0);
  transition: all .5s linear;
}

.overlaycontainer .navsection .container .sect1 .imgsect {
  margin-bottom: 2rem;
  border-radius: 50%;
}

.overlaycontainer .navsection .container .sect1 .imgsect img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.overlaycontainer .navsection .container .sect1 .detailsect {
  width: 70%;
}

.overlaycontainer .navsection .container .sect1 .detailsect h1 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 3rem;
}

.overlaycontainer .navsection .container .sect1 .detailsect h3 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 3rem;
  margin-top: 1rem;
}

.overlaycontainer .navsection .container .sect2 {
  transform: translate3d(0, -100%, 0);
  transition: all .5s linear;
  background: rgba(0, 0, 0, 0.7);
}

.overlaycontainer .navsection .container .sect2 nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.overlaycontainer .navsection .container .sect2 nav ul {
  list-style: none;
}

.overlaycontainer .navsection .container .sect2 nav ul li {
  margin: 5vh;
}

.overlaycontainer .navsection .container .sect2 nav ul li a {
  text-decoration: none;
  font-size: 2.5rem;
  cursor: pointer;
  color: #f4f4f4;
  font-style: italic;
  margin-top: 5vh;
  transition: all .5s linear;
}

.overlaycontainer .navsection .container .sect2 nav ul li a:hover {
  color: #1ec;
}

footer {
  width: 100vw;
  text-align: center;
  height: 10vh;
  display: grid;
  place-content: center;
  background-color: #f7b40b;
  margin-top: 2rem;
}

footer P {
  font-size: 1.5rem;
  color: #f4f4f4;
}

#homepagebody {
  overflow: hidden;
}

#homepagebody .overlaycontainer {
  background: rgba(76, 75, 75, 0.3);
}

#homepagebody .bodyBg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 1;
}

#homepagebody .bodyBg .img {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all .5s linear;
}

#homepagebody .bodyBg .show {
  opacity: 1;
}

.welcomingText {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.welcomingText .container {
  width: 50vw;
}

.welcomingText .content h1 {
  color: #b8b6b6;
  font-weight: 500;
  font-size: 4rem;
}

.welcomingText .content h3 {
  margin-top: 1rem;
  font-size: 2.5rem;
  font-weight: 300;
  font-style: italic;
  color: #acc8f3;
}

#aboutbodysect {
  overflow-x: hidden;
}

.aboutmainbody {
  width: 100vw;
}

.aboutmainbody .container {
  padding-top: 17vh;
  width: 80%;
  margin: auto;
}

.aboutmainbody .container .imgage {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 25vh;
  background-attachment: fixed;
  margin: 1.5rem 0;
}

.aboutmainbody .container .image1 {
  background-image: url(images/valage.jpg);
}

.aboutmainbody .container .image2 {
  background-image: url(images/travel.jpg);
}

.aboutmainbody .container .image3 {
  background-image: url(images/genocde.jpg);
}

.aboutmainbody .container p {
  line-height: 1.5rem;
  font-size: 1.5rem;
}

.aboutmainbody .container h3 {
  margin: 2rem 0;
  font-size: 2.5rem;
  font-weight: 400;
}

html {
  transition: all 1s linear;
}

#authorbodysect {
  overflow-x: hidden;
}

#authorbodysect .overlaycontainer {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: transparent;
}

#authorbodysect .overlaycontainer .navsection {
  overflow: hidden;
  visibility: hidden;
}

#authorbodysect .authorwrapper {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  padding-top: 20vh;
  z-index: 70;
  left: 0;
  top: 0;
}

#authorbodysect .authorwrapper .container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

#authorbodysect .authorwrapper .container .head {
  display: flex;
  margin-bottom: 2rem;
}

#authorbodysect .authorwrapper .container .head img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
}

#authorbodysect .authorwrapper .container .head .info {
  margin: 5rem;
}

#authorbodysect .authorwrapper .container .head .info h3 {
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 400;
}

#authorbodysect .authorwrapper .container .about h3 {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 1rem;
}

#authorbodysect .authorwrapper .container .about p {
  font-size: 1.5rem;
}

#authorbodysect .authorwrapper .container .about p span {
  color: limegreen;
  font-style: italic;
}

#authorbodysect .authorwrapper .container .about ul {
  list-style: none;
}

#authorbodysect .authorwrapper .container .about ul li {
  display: inline;
  font-size: 1.7rem;
  font-style: italic;
  margin-right: 4vw;
}

#authorbodysect .authorwrapper .container .about ul li:nth-child(1) {
  color: #030bad;
}

#authorbodysect .authorwrapper .container .about ul li:nth-child(2) {
  color: lime;
}

#authorbodysect .authorwrapper .container .about ul li:nth-child(3) {
  color: yellow;
}

#authorbodysect .authorwrapper .container .contact h3 {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 1rem;
}

#authorbodysect .authorwrapper .container .contact .note p {
  padding: 1rem;
  font-size: 1.3;
  font-style: italic;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

#authorbodysect .authorwrapper .container .contact .form form button {
  font-size: 1.3rem;
  padding: .6rem;
  outline: none;
  border: none;
  border-radius: .5rem;
  background-color: green;
  cursor: pointer;
}

#authorbodysect .authorwrapper .container .contact .form form button:hover {
  background-color: lime;
}

#authorbodysect .authorwrapper .container .contact .form form input, #authorbodysect .authorwrapper .container .contact .form form textarea {
  display: block;
  margin: 1rem 0;
  outline: none;
  width: 100%;
  background: rgba(96, 105, 102, 0.3);
  border: 1px solid lightgray;
  font-size: 1.3rem;
}

#authorbodysect .authorwrapper .container .contact .form form input {
  padding: .5rem;
  border-radius: .4rem;
}

#authorbodysect .authorwrapper .container .contact .form form textarea {
  border-radius: .4rem;
}

#authorbodysect hr {
  margin: 1rem 0;
  border-color: #0076ff;
}

#authorbodysect .media {
  margin-top: 1rem;
}

#authorbodysect .media .mediaLinks {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

#authorbodysect .media .mediaLinks a {
  text-decoration: none;
  font-size: 2.5rem;
}

#authorbodysect .media .mediaLinks a:nth-child(1) {
  color: #376bdb;
}

#authorbodysect .media .mediaLinks a:nth-child(2) {
  color: #07f317;
}

#authorbodysect .media .mediaLinks a:nth-child(3) {
  color: #07a1e2;
}

#authorbodysect .media .mediaLinks a:nth-child(4) {
  color: #ced7ce;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

@media (max-width: 1200px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 13px;
  }
  .welcomingText .container {
    width: 80%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 12px;
  }
  .overlaycontainer .menu {
    right: 5vw;
  }
  #authorbodysect .authorwrapper .container .head {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }
  #authorbodysect .authorwrapper .container .head .info {
    margin: 1rem;
  }
  #authorbodysect .media .mediaLinks {
    width: 95%;
  }
}

@media (max-width: 501px) {
  html {
    font-size: 10px;
  }
  .overlaycontainer .menu {
    right: .5vw;
    margin: 0rem 0 1rem 1rem;
  }
  .overlaycontainer .menu div {
    width: 25px;
  }
  .overlaycontainer header .container .logo {
    display: flex;
    align-items: center;
  }
  .overlaycontainer header .container .logo img {
    width: 9rem;
    height: 9rem;
  }
  .overlaycontainer header .container .logo .logoname {
    margin-left: 2rem;
  }
  .overlaycontainer .navsection .container .sect1 .imgsect img {
    width: 15rem;
    height: 15rem;
  }
  .overlaycontainer .navsection .container .sect1 .detailsect {
    width: 90%;
  }
}

@media (max-width: 380px) {
  html {
    font-size: 7px;
  }
}
/*# sourceMappingURL=main.css.map */